body {
    background-color: GhostWhite;
}

.patient {
    background-color: #27332F;
    color: white;
    margin-bottom: 10px;
}

.patient .patientName {
    padding-left: 20px;
}

.patient .patientMrn {
    padding-left: 20px;
}

.insight {
    padding-bottom: 10px;
}

.insightName {
    font-weight: bold;
}

.insightDate {
    font-style: italic;
}

.insightItemContainer {
    padding-top: 10px;
    padding-left: 10px;
}

.insightItem {
    padding-bottom: 5px;
}

.insightItem ul {
    list-style-position: inside;
    margin: 0;
    padding: 0;
}

.insightItemName {
    color: gray;
}

.emphasis {
    color: red;
    font-size: 120%;
    font-weight: bold;
}