extends layout

block content
  div(class='ehrframe')
    div(class='title ehrtitle')
      div #{title}

    div(class='ehr')
      div(class='ehrleft')
      div(class='ehrpane')
        iframe(src='/fabricpane/1' class='ehrpaneiframe' frameBorder='0')