extends layout

block content
  script(src='https://code.jquery.com/jquery-3.2.1.min.js')

  div(class='ehrframe')
    div(class='title ehrtitle')
      div #{title}

    div(class='ehrpatients')
      span(style='padding-right: 20px;') Patients:
      a(onclick='return onpatientclick(1)' href='#' style='padding-right:20px;') Jones, James
      a(onclick='return onpatientclick(2)' href='#' style='padding-right:20px;') Brown, Jolene
      a(onclick='return onpatientclick(3)' href='#') Kane, Liam

    div(class='ehr')
      div(class='ehrleft')
      div(class='ehrpane')
        iframe(id='ehrpaneid' src=urlehrpane class='ehrpaneiframe' frameBorder='0')