doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='stylesheet', href='/stylesheets/ehrstyle.css')
    script(src='/javascripts/ehrframescript.js')
  body
    block content
