<div class="sidebar">
	<div class="content">
		<div class="alert-chip">
			<span class="alert-icon">
				<i class="fa fa-exclamation-triangle"></i>
			</span>
			<span class="alert-text">No risk found for patient {{ patientId }}</span>
		</div>
	</div>
</div>

