body {
    background-color: GhostWhite;
}

.patient {
    background-color: #27332F;
    color: white;
}

.patient .patientName {
    padding-left: 20px;
    font-weight: bold;
}

.patient .patientMrn {
    padding-left: 20px;
}

.title {
    background-color: #27332F;
    color: white;
    font-size: 150%;
    margin-bottom: 10px;
    padding-left: 2px;
}

.insight {
    padding-bottom: 10px;
}

.insightName {
    font-weight: bold;
}

.insightDate {
    font-style: italic;
}

.insightItemContainer {
    padding-top: 10px;
    padding-left: 10px;
}

.insightItem {
    padding-bottom: 5px;
}

.insightItem ul {
    list-style-position: inside;
    margin: 0;
    padding: 0;
}

.insightItemName {
    color: gray;
}

.emphasis {
    color: red;
    font-size: 120%;
    font-weight: bold;
}

.controlledsubstanceContainer ol {
    padding: 10px;
}

.controlledsubstancelastdate {
    color: gray;
    font-size: 80%;
    font-style: italic;
}

.controlledsubstanceItem {
    padding-bottom: 5px;
}

.controlledsubstanceItemDate {
    color: gray;
    font-size: 80%;
}

.controlledsubstanceItemDr {
    color: gray;
    font-size: 80%;
}

.ehrframe {
    width: 100%;
    height: 600px;
}

.ehrtitle {
    height: 5%;
}

.ehr {
    width: 100%;
    height: 95%;
}

.ehrleft {
    width: 80%;
    height: 100%;
    background-color: lightblue;
    float: left;
}

.ehrpane {
    width: 20%;
    height: 100%;
    float: right;
}

.ehrpaneiframe {
    width: 100%;
    height: 100%;
}