USE [InsightsDatabase]
GO
/****** Object:  Table [dbo].[ControlledSubstances]    Script Date: 4/26/2017 9:36:25 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ControlledSubstances](
	[PatientId] [varchar](255) NOT NULL,
	[MedicationName] [varchar](255) NOT NULL,
	[DatePrescribed] [datetime] NOT NULL,
	[PrescribedByDoctor] [varchar](255) NOT NULL
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Insights]    Script Date: 4/26/2017 9:36:25 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Insights](
	[PatientId] [varchar](50) NOT NULL,
	[InsightsText] [varchar](255) NOT NULL,
	[DateCreated] [datetime] NOT NULL,
	[InsightId] [varchar](255) NOT NULL,
 CONSTRAINT [PK_Insights] PRIMARY KEY CLUSTERED 
(
	[PatientId] ASC,
	[InsightId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Registries]    Script Date: 4/26/2017 9:36:25 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Registries](
	[PatientId] [varchar](255) NOT NULL,
	[RegistryName] [varchar](255) NOT NULL,
	[DateAdded] [datetime] NOT NULL
) ON [PRIMARY]

GO
